{{date.DATA}} 
地区：{{region.DATA}} 
天气：{{weather.DATA}} 
最低气温：{{min_temp.DATA}} 
最高气温：{{max_temp.DATA}} 
当前气温：{{temp.DATA}} 
当前风向：{{wind_dir.DATA}} 
pm2.5值：{{pm2p5.DATA}} 
空气质量：{{category.DATA}} 
日出时间：{{sunrise.DATA}} 
日落时间：{{sunset.DATA}} 
今日建议：{{proposal.DATA}}
{{chp.DATA}}



{{note_en.DATA}} 
{{note_ch.DATA}}